# IDE
.idea
*.iml
.vscode/

# Frontend
omnitalk9/frontend/node_modules/
omnitalk9/frontend/package-lock.json

# Backend
omnitalk9/backend/config/config.yaml
config_test.yaml

# Python
*.pyc
__pycache__/
build/
dist/
*.egg-info/
out/
gen/

# OS
.DS_Store
Thumbs.db
